
@keyframes roletar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.reacticone{
  font-size: 60px;
  animation: roletar 3s linear infinite;
}
.icones1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 60px;
}





.game {
  position: relative;
  margin: 300px auto 0;
  border-radius: 50px;
  background: linear-gradient(0deg, #000, #272727);
}


.game:before, .game:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #000000, #ffffff, #00ff6a,#002d09, #0e0047, #290029, 
    #2c2c00, #fffb00,#000000, #51bc00);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
  border-radius: 50px;

}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.game:after {
  filter: blur(50px);
}











.girar {
  width: 100px;
  height: 50px;
  border: 1px solid white;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 50px;
}

.girar:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.girar:active {
  color: #000
}

.girar:active:after {
  background: transparent;
}

.girar:hover:before {
  opacity: 1;
}

.girar:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}













